[run]
source = src/youtubesorter
branch = True
parallel = True
concurrency = multiprocessing
data_file = .coverage

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError:
    if TYPE_CHECKING:

[html]
directory = htmlcov